
header {
    text-align: center;
    padding: 20px;
    font-size: 20px;
    background: rgba(138, 91, 145, 0.8);
}
button {
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.display {
    display: block;
}
.hide {
    display: none;
}

#content_training {
    justify-content: center;
    align-items: center;
}

#content_evaluate {
    justify-content: center;
    align-items: center;
}

#content_analyze {
    justify-content: center;
    align-items: center;
}


#charts_box {
    display: flex;
    justify-content: center;
    align-items: center;
}
.chart_line_1 {
    width: 600px;
    height: 400px;
}


#chart_heatmap {
    width: 800px;
    height: 600px;
    margin: 50px auto;
}