$background: #eeeeee;
$font_color: #222831;
$border_color: #eee;
$header_color: #1a358f;
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  color: $font_color;
  background-color: #eee;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
header {
  width: 100%;
  background-color: $header_color;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
}
header h1 {
  margin-left: 2rem;
  font-size: 2.6rem;
  color: $border_color;
  font-weight: 300;
}
/* Media query for smaller screens */
@media only screen and (max-width: 1500px),
  (max-resolution: 192dpi),
  (max-resolution: 2dppx) {
  main {
    grid-template-columns: auto;
  }
  section {
    img {
      max-height: 90vh;
    }
  }
}
// mobile
@media (pointer: none), (pointer: coarse) {
  main {
    grid-template-columns: auto;
  }
}
@media (pointer: fine) and (min-width: 1500px) {
  main {
    grid-template-columns: 1fr 1fr;
  }
  header {
    position: fixed;
    top: 0;
    z-index: 9999;
  }
  .left img:hover {
    transform: translate(0, -7%) scale(1.1);
  }
  .right img:hover {
    transform: translate(0, -7%) scale(1.1);
  }
  section {
    img {
      max-height: 75vh;
    }
  }
}

main {
  margin-top: 5rem;
  display: grid;
  gap: 1em;
  padding: 0.8em;
  align-items: stretch;
  justify-items: center;
}

h1,
h2,
h3,
h4 {
  color: $header_color;

  font-optical-sizing: auto;
  font-weight: 300;
  text-align: center;
}
footer {
  width: 100%;
  height: 3rem;
  align-items: center;
  background-color: $header_color;
  display: flex;
  justify-content: center;
  color: #fefefe;
}
main section {
  width: 100%;
}

.right,
.left {
  display: grid;
  grid-template-rows: 1fr 4fr 2fr;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 0.5rem;

  h2 {
    font-size: 2rem;
    margin-top: 1.5rem;
    border-width: 0.07em;
    border-style: solid;
    border-left: none;
    border-right: none;
    border-top: none;
    border-image: linear-gradient(to right, rgb(0, 0, 0), $header_color) 1;
    height: fit-content;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
  img {
    max-width: 90%;
    border-radius: 1rem;
    display: flex;
    justify-self: center;
    align-self: center;
    transition: transform 0.3s ease;
  }
  p {
    background-color: #eee;
    margin: 1rem;
    padding: 1rem;
    font-size: 1rem;
    font-family: "Noticia Text", serif;
    font-weight: 700;
    font-style: normal;
  }
  button {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 140px;
    height: 50px;
    background-color: #000000;
    color: white;
    border: none;
    font-weight: 500;
    gap: 10px;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
    overflow: hidden;
    position: relative;
    bottom: 0;
  }
  button::before {
    width: 140px;
    height: 140px;
    content: "";
    position: absolute;
    background-color: #cecece;
    border-radius: 50%;
    transition-duration: 0.4s;
    left: -100%;
    top: 0;

    mix-blend-mode: difference;
  }

  button:hover::before {
    transition-duration: 0.4s;
    transform: translate(100%, -50%);
    border-radius: 0;
  }

  button:active {
    transform: translate(5px, 5px);
    transition-duration: 0.4s;
  }
  a {
    justify-self: center;
    align-self: center;
    text-decoration: none;
  }
  .info {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 10px;
    min-height: 10vh;
    display: grid;
    grid-template-columns: auto;
    a {
      margin-bottom: 0.5em;
    }
    div {
      display: flex;
      width: 100%;
    }
    p {
      top: 0;
      width: 100%;
      margin: 0.5em;
    }
  }
}

.mpld3-figure {
  display: flex;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

@media (pointer: fine) and (min-width: 1500px) {
  nav {
    font-size: 19px;
    box-sizing: border-box;
  }
  nav ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-left: 0px;
    align-items: center;
  }
}
nav {
  margin-right: 2rem;
  font-size: 19px;
  box-sizing: border-box;
}
nav ul {
  padding-left: 0px;
  margin: 0;
  align-items: center;
}
nav li {
  display: flex;
  justify-content: center;
  list-style-type: none;
}
nav li a {
  color: rgb(212, 212, 212);
  padding: 1.7rem 10px;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
}
nav li a:hover {
  border-bottom: 2px solid rgb(11, 121, 247);
  color: #ffffff;
}
